<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rays background</title>
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  <section class="wrapper" id="rays-wrapper">
    <div class="hero"></div>
    <div class="content">
      <h1 class="h1--scalingSize" id="rays-title" data-text="RAIZO">RAIZO</h1>
      <input type="checkbox" id="switch" />
      <label for="switch"><span><span class="icon">→</span> switch bg</span></label>
    </div>
  </section>
  <script src="./script.js"></script>
</body>
</html>
